<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jacques's Blog</title>
</head>
<body>
<h1 style="text-align: center">Jacques's Blog</h1>
{% for post in postagem reversed %}
<div>
    <a href='/post/{{post.id}}' text  style="text-decoration: none">
        <h2 style="color: purple">{{post.title}}</h2>
    </a>
    <h3>{{post.body|truncatewords:20}}</h3>
    <h5>{{post.created_at}}</h5>
{% endfor %}
</div>
</body>
</html>